:root {
    --primary-color: #f4f6fc;
    --secondary-color: #303030;
    --tertiary-color: #ffffff;
    --quaternary-color: #9ea6ab;
    --body-bg-color: #e8ecf3;
  }
  @font-face {
    font-family: 'pop';
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'pop';
    box-sizing: border-box;
}
body,html{
    /* background-color: var(--quaternary-color) !important; */
    background-color: #2935BC !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

h1{
    /* color: var(--secondary-color); */
    color: #CDD5EB;
    user-select: none;
}
.contianer{
    /* background-color: var(--quaternary-color); */
    background-color: #2935BC;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 160vh;
    flex-direction: column;
}
.contianers{
    /* background-color: var(--quaternary-color); */
    background-color: #2935BC;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 160vh;
    flex-direction: column;
}
.secondContainer h1{
    margin-bottom: 40px !important;
}
li{
    color: #CDD5EB;
    margin-top: 20px;
    font-size: 22px;
}
button{
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 50px;
    margin-top: 40px !important;
    cursor: pointer;
    background-color: #CDD5EB;
    color: #2935BC;
    font-size: 20px;
}
.contianerkoOff{
    display: none;
}
.buttonDiv{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
}
.secondContainer{
    display: none;
}
.timer-points{
    display: flex;
    justify-content: space-around;
    color: var(--tertiary-color);
    flex-wrap: wrap;
}
.playGround{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 30px;
    /* background-color: #303030 !important; */
    background-color: #CDD5EB;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}
.icon{
    animation: ani 6s infinite infinite infinite forwards;
    position: absolute;
    z-index: 3;
}
@keyframes ani {
    0%{
        top: 30px;
    }
    25%{
        left: 30px;
    }
    50%{
        right: 30px;
    }
    75%{
        bottom: 30px;
    }
    100%{
        display: none;
    }
}